table{
    border:1px black solid; 
    border-collapse: collapse;
    width: 50%;
    font-size: 20px;
}
header{
    font-size: 60px;
    text-align: center;
}
p{
    font-size: 20px;
}
th{
    height: 30px;
    text-align: top;
}
td{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: right;
}
div{
    display: none;
}